


<h3>Tabla de productos</h3>
<ul>
    {{#each products}}
        <li>{{this.id}}</li>
        <li>{{this.title}}</li>
        <li>{{this.price}}</li>
        <li>{{this.thumbnail}}</li>
    {{/each}}
</ul>
<h3>Tabla de productos FIN</h3>
